<launch>
  <arg name="yolo_checkpoint" default="yolov5s" />
  <arg name="brain_checkpoint" default="sac-13200-bs2048-dropout0.88-normalized_env_newbags" />
 
  <include file="$(find mainbot)/config/odrive.launch"/>
  <include file="$(find mainbot)/config/pan_tilt_config.xml"/>
  <include file="$(find mainbot)/config/pan_tilt_controller.launch"/>
  <include file="$(find mainbot)/config/camera.launch"/>
  <include file="$(find mainbot)/config/rewardbutton.launch"/>
  <include file="$(find mainbot)/config/rosbag_capture.launch">
    <arg name="prefix" value="brain-$(arg brain_checkpoint)"/>
  </include>

  <node name="brain" pkg="mainbot" type="brain" required="true" output="screen">
    <param name="tensorrt_yolo" value="/home/robot/$(arg yolo_checkpoint).onnx"/>
    <param name="tensorrt_brain" value="/home/robot/$(arg brain_checkpoint).onnx"/>

    <!-- Set to 0.0 to disable sampling and use mean actions, set to 1.0 to sample actions using predicted standard deviations -->
    <param name="sampling_scale" value="1.0"/>

    <!-- Set to how fast you'd like the update loop to run, in Hz -->
    <param name="update_rate" value="2.0"/>

    <!-- Set to true to output intermediate yolo outputs as ROS messages -->
    <param name="log_network_outputs" value="false"/>
  </node>
</launch>