<launch>
  <arg name="yolo_checkpoint" default="yolov5l_6_0_op11_rossac" />
  <arg name="brain_checkpoint" default="sac-usual-paper-495-04800" />
  <arg name="sampling_scale" default="0.0" />
 
  <include file="$(find bumble)/config/odrive.launch"/>
  <include file="$(find bumble)/config/audio.launch"/>
  <include file="$(find bumble)/config/simplebgc.launch"/>
  <include file="$(find bumble)/config/camera.launch"/>
  <include file="$(find bumble)/config/apprewardbutton.launch"/>
  <include file="$(find bumble)/config/rosbag_capture.launch">
    <arg name="prefix" value="brain-$(arg brain_checkpoint)-samp$(arg sampling_scale)"/>
  </include>

  
  <node name="brain" pkg="bumble" type="brain" required="true" output="screen">
    <param name="tensorrt_yolo" value="/home/robot/$(arg yolo_checkpoint).onnx"/>
    <param name="tensorrt_brain" value="/home/robot/$(arg brain_checkpoint).onnx"/>

    <!-- Set to 0.0 to disable sampling and use mean actions, set to 1.0 to sample actions using predicted standard deviations -->
    <param name="sampling_scale" value="$(arg sampling_scale)"/>

    <!-- The loop is synced to the camera framerate, currently 15 FPS. Setting this to N will only process 1 out of every N frames -->
    <param name="camera_frame_skip" value="2"/>

    <!-- How much history to store and pass into a recurrent input component -->
    <param name="mlp_input_history_size" value="100"/>

    <!-- Set to true to output intermediate yolo outputs as ROS messages -->
    <param name="log_network_outputs" value="false"/>
  </node>
</launch>
