<launch>
  <arg name="prefix"/> 

  <node pkg="rosbag" type="record" name="rosbag_record_cam"
    args="record -a --buffsize=4096 --split --duration=1m -o /media/card/record-$(arg prefix) -x /camera/color/image_raw" />

    <!-- 
        -a record everything
        -j BZ2 compress # this is too slow, and lz4 compression can miss packets
        -buffsize internal buffer size in megabtyes
        -split splits when the max size or duration is reached
        -o output location prefix
    -->
</launch>